<configuration>
    <property name="moduleName" value="security-admin"/>
    <property name="charset" value="utf-8"/>
    <property name="pattern" value="%d [%thread] %-5level %logger - %msg %n"/>

    <contextName>${moduleName}</contextName>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${pattern}</pattern>
            <charset>${charset}</charset>
        </encoder>
    </appender>
    <!-- 按照每天生成日誌文件, 最多保留30天 -->
    <appender name="ROLLINGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日誌文件輸出的文件名-->
            <FileNamePattern>logs/${moduleName}-%d{yyyy-MM-dd}.log</FileNamePattern>
            <!--日誌文件保留天數-->
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${pattern}</pattern>
            <charset>${charset}</charset>
        </encoder>
    </appender>

    <logger name="com.rayvision.mapper" level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="ROLLINGFILE"/>
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>