<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rayvision.mapper.PermissionMapper">

    <sql id="columnAlias">
        id, name ,descritpion,url
    </sql>

    <sql id="condition">
        <if test="id != null">
            AND id = #{id}
        </if>
        <if test="name != null">
            AND name = #{name}
        </if>
        <if test="url != null">
            AND url = #{url}
        </if>
    </sql>

    <insert id="insertSelective" parameterType="Permission" keyProperty="id" useGeneratedKeys="true">
        insert into t_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="descritpion != null">
                descritpion,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="descritpion != null">
                #{descritpion,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="findPermissionByUserId" parameterType="Integer" resultType="Permission">
        SELECT
	        tp.id, tp.name,tp.descritpion,tp.url
        FROM
	         t_role_permission trp
        JOIN t_role tre ON trp.role_id = tre.id
        JOIN t_permission tp ON trp.permission_id = tp.id
        WHERE
        tre.id IN
        (
		      SELECT tr.id FROM t_user_role tur
		      JOIN t_user tu ON tur.user_id = tu.id
		      JOIN t_role tr ON tur.role_id = tr.id
		      WHERE
			tu.id = #{userId}
	     )
    </select>


    <select id="findAllPermissions" resultType="Permission">
        select <include refid="columnAlias" /> from t_permission
    </select>
</mapper>