<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rayvision.mapper.ResourcesMapper">

    <sql id="columnAlias">
        id, name ,code,pid,scale,url
    </sql>

    <sql id="condition">
        <if test="id != null">
            AND id = #{id}
        </if>
        <if test="name != null">
            AND name = #{name}
        </if>
        <if test="code != null">
            AND code = #{code}
        </if>
    </sql>

    <select id="findResourcesByPermissionId" parameterType="Integer" resultType="Resources">
        select
        tr.id, tr.name ,tr.code,tr.pid,tr.scale,tr.url
        from t_permission_resources tpr join t_permission tp on tpr.permission_id = tp.id
        join t_resources tr on tpr.resources_id = tr.id
        where tp.id = #{permissionId}
    </select>

    <select id="findGrantedResources" parameterType="Integer" resultType="com.rayvision.security.GrantedResources">
        select
        tr.id, tr.name ,tr.code,tr.pid,tr.scale,tr.url,tp.name permission
        from t_permission_resources tpr join t_permission tp on tpr.permission_id = tp.id
        join t_resources tr on tpr.resources_id = tr.id
    </select>
</mapper>